Source: ug-nfc-efl
Section: libs
Priority: extra
Maintainer:junyong.sim@samsung.com
Uploaders: junyong.sim@samsung.com
Build-Depends: debhelper (>= 5),libappcore-efl-dev,libcontacts-service-dev,libbluetooth-frwk-dev,libslp-utilx-dev,libedbus-dev,syspopup-dev,libedje-dev,libecore-dev,libevas-dev,libug-contacts-dev,libui-gadget-dev,libappsvc-dev,libxdgmime-dev,capi-network-nfc-dev
Standards-Version: 0.1.0

Package: libug-setting-nfc-efl
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: UI gadget about the setting of nfc

Package: libug-setting-nfc-efl-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libug-setting-nfc-efl(= ${Source-Version})
Description: UI gadget about the setting of nfc (unstripped)

Package: libug-share-nfc-efl
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: UI gadget about the share of nfc

Package: libug-share-nfc-efl-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libug-share-nfc-efl(= ${Source-Version})
Description: UI gadget about the share of nfc (unstripped)
